openapi: 3.2.0
info:
  title: Exotel Numbers API
  description: Exotel is an Indian cloud telephony and customer-engagement (CPaaS) platform.
  version: '1.0'
  contact:
    name: Exotel Developer Support
    url: https://developer.exotel.com
  x-grounding:
    confirmedEndpoints:
    - POST /v1/Accounts/{sid}/Calls/connect
    - GET /v1/Accounts/{sid}/Calls/{CallSid}
    - GET /v1/Accounts/{sid}/Numbers/{Number}
    - POST /v1/Accounts/{sid}/Sms/send
    - POST /v2/accounts/{sid}/campaigns
    - GET /v2/accounts/{sid}/campaigns/{campaign_id}
    - GET /v2/accounts/{sid}/campaigns/{campaign_id}/call-details
    modeledEndpoints:
    - GET /v1/Accounts/{sid}/Calls (bulk list; documented as existing, path follows Exotel convention)
    - GET /v1/Accounts/{sid}/Sms/Messages/{SmsSid} (SMS details; documented as existing, path follows Exotel convention)
    schemaStatus: All request/response body and form-field schemas are modeled from documented parameter lists, not from a vendor-published OpenAPI.
servers:
- url: https://api.exotel.com
  description: Singapore cluster (default)
- url: https://api.in.exotel.com
  description: Mumbai / India cluster
security:
- basicAuth: []
tags:
- name: Numbers
  description: Look up telecom metadata for phone numbers.
paths:
  /v1/Accounts/{sid}/Numbers/{Number}.json:
    parameters:
    - $ref: '#/components/parameters/AccountSid'
    - name: Number
      in: path
      required: true
      description: The phone number (E.164) to look up.
      schema:
        type: string
    get:
      operationId: getNumberMetadata
      tags:
      - Numbers
      summary: Get phone-number metadata
      description: Returns telecom metadata (operator/circle, number type, DND status where available) for an Indian phone number. Confirmed endpoint; response schema modeled.
      responses:
        '200':
          description: Number metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumberMetadata'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    AccountSid:
      name: sid
      in: path
      required: true
      description: Your Exotel account Sid (Account SID).
      schema:
        type: string
  schemas:
    NumberMetadata:
      type: object
      description: Modeled from documented number-lookup fields.
      properties:
        PhoneNumber:
          type: string
        Circle:
          type: string
          description: Telecom circle (region).
        CircleName:
          type: string
        Type:
          type: string
          description: Number type (e.g. mobile, landline).
        Operator:
          type: string
        OperatorName:
          type: string
        DND:
          type: string
          description: Do-Not-Disturb registration status where available.
  responses:
    NotFound:
      description: Resource not found.
    Unauthorized:
      description: Missing or invalid API Key/Token.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Username = API Key, Password = API Token (both from Exotel Dashboard -> Settings -> API Settings). May also be embedded in the URL as https://<key>:<token>@<subdomain>/...
