openapi: 3.0.3
info:
  title: Exotel Call Details SMS API
  description: 'Exotel is an Indian cloud telephony and customer-engagement (CPaaS) platform. This OpenAPI describes a representative, grounded subset of Exotel''s documented public REST API: placing outbound voice calls (connect two numbers, or connect a number to a call flow / applet), sending SMS, retrieving call details, looking up phone-number metadata, and managing call campaigns.


    Base URL is region-specific and Twilio-style: `https://<subdomain>/v1/Accounts/<account_sid>/...` for the v1 telephony APIs and `https://<subdomain>/v2/accounts/<account_sid>/...` for the v2 Campaigns API. All requests use HTTP Basic authentication with your API Key as the username and API Token as the password (credentials may also be embedded in the URL as `https://<key>:<token>@<subdomain>/...`).


    GROUNDING NOTE: Endpoint paths and HTTP methods for Calls/connect, Calls/{CallSid}, Numbers/{Number}, Sms/send, and the v2 Campaigns resource are confirmed from Exotel''s developer docs. Request/response SCHEMAS below are MODELED from the documented parameter lists and Exotel''s Twilio-style conventions - Exotel does not publish a machine OpenAPI, so field-level schemas should be verified against the live docs before production use. Exotel APIs return XML by default; append `.json` to a resource path to receive JSON (shown here as the JSON variants).'
  version: '1.0'
  contact:
    name: Exotel Developer Support
    url: https://developer.exotel.com
  x-grounding:
    confirmedEndpoints:
    - POST /v1/Accounts/{sid}/Calls/connect
    - GET /v1/Accounts/{sid}/Calls/{CallSid}
    - GET /v1/Accounts/{sid}/Numbers/{Number}
    - POST /v1/Accounts/{sid}/Sms/send
    - POST /v2/accounts/{sid}/campaigns
    - GET /v2/accounts/{sid}/campaigns/{campaign_id}
    - GET /v2/accounts/{sid}/campaigns/{campaign_id}/call-details
    modeledEndpoints:
    - GET /v1/Accounts/{sid}/Calls (bulk list; documented as existing, path follows Exotel convention)
    - GET /v1/Accounts/{sid}/Sms/Messages/{SmsSid} (SMS details; documented as existing, path follows Exotel convention)
    schemaStatus: All request/response body and form-field schemas are modeled from documented parameter lists, not from a vendor-published OpenAPI.
servers:
- url: https://api.exotel.com
  description: Singapore cluster (default)
- url: https://api.in.exotel.com
  description: Mumbai / India cluster
security:
- basicAuth: []
tags:
- name: SMS
  description: Send SMS and retrieve message details.
paths:
  /v1/Accounts/{sid}/Sms/send.json:
    parameters:
    - $ref: '#/components/parameters/AccountSid'
    post:
      operationId: sendSms
      tags:
      - SMS
      summary: Send an SMS
      description: Sends a single SMS from an ExoPhone or approved Sender ID. India traffic requires DLT registration IDs. Confirmed endpoint; body schema modeled from documented parameters.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SendSmsRequest'
      responses:
        '200':
          description: SMS accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/Accounts/{sid}/Sms/Messages/{SmsSid}.json:
    parameters:
    - $ref: '#/components/parameters/AccountSid'
    - name: SmsSid
      in: path
      required: true
      description: The unique Sid of the SMS message.
      schema:
        type: string
    get:
      operationId: getSmsDetails
      tags:
      - SMS
      summary: Get SMS details
      description: Retrieves the delivery status and metadata of a sent SMS. MODELED path following Exotel's Twilio-style convention; verify against live docs.
      responses:
        '200':
          description: SMS details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    AccountSid:
      name: sid
      in: path
      required: true
      description: Your Exotel account Sid (Account SID).
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid API Key/Token.
    TooManyRequests:
      description: Rate limit exceeded (Voice APIs are limited to ~200 calls/minute).
    NotFound:
      description: Resource not found.
  schemas:
    SmsResponse:
      type: object
      properties:
        Sid:
          type: string
        AccountSid:
          type: string
        Status:
          type: string
        From:
          type: string
        To:
          type: string
        Body:
          type: string
        DateCreated:
          type: string
        DetailedStatus:
          type: string
    SendSmsRequest:
      type: object
      required:
      - From
      - To
      - Body
      properties:
        From:
          type: string
          description: ExoPhone or approved Sender ID.
        To:
          type: string
          description: Recipient mobile number (E.164 preferred).
        Body:
          type: string
          description: Message content (up to 2000 characters).
        EncodingType:
          type: string
          enum:
          - plain
          - unicode
        SmsType:
          type: string
          enum:
          - transactional
          - transactional_opt_in
          - promotional
        Priority:
          type: string
          enum:
          - normal
          - high
        DltEntityId:
          type: string
          description: DLT entity/registration ID (mandatory for India).
        DltTemplateId:
          type: string
          description: DLT-approved template ID.
        StatusCallback:
          type: string
        CustomField:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Username = API Key, Password = API Token (both from Exotel Dashboard -> Settings -> API Settings). May also be embedded in the URL as https://<key>:<token>@<subdomain>/...
