openapi: 3.2.0
info:
  title: Exotel SMS API
  description: Exotel is an Indian cloud telephony and customer-engagement (CPaaS) platform.
  version: '1.0'
  contact:
    name: Exotel Developer Support
    url: https://developer.exotel.com
  x-grounding:
    confirmedEndpoints:
    - POST /v1/Accounts/{sid}/Calls/connect
    - GET /v1/Accounts/{sid}/Calls/{CallSid}
    - GET /v1/Accounts/{sid}/Numbers/{Number}
    - POST /v1/Accounts/{sid}/Sms/send
    - POST /v2/accounts/{sid}/campaigns
    - GET /v2/accounts/{sid}/campaigns/{campaign_id}
    - GET /v2/accounts/{sid}/campaigns/{campaign_id}/call-details
    modeledEndpoints:
    - GET /v1/Accounts/{sid}/Calls (bulk list; documented as existing, path follows Exotel convention)
    - GET /v1/Accounts/{sid}/Sms/Messages/{SmsSid} (SMS details; documented as existing, path follows Exotel convention)
    schemaStatus: All request/response body and form-field schemas are modeled from documented parameter lists, not from a vendor-published OpenAPI.
servers:
- url: https://api.exotel.com
  description: Singapore cluster (default)
- url: https://api.in.exotel.com
  description: Mumbai / India cluster
security:
- basicAuth: []
tags:
- name: SMS
  description: Send SMS and retrieve message details.
paths:
  /v1/Accounts/{sid}/Sms/send.json:
    parameters:
    - $ref: '#/components/parameters/AccountSid'
    post:
      operationId: sendSms
      tags:
      - SMS
      summary: Send an SMS
      description: Sends a single SMS from an ExoPhone or approved Sender ID. India traffic requires DLT registration IDs. Confirmed endpoint; body schema modeled from documented parameters.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SendSmsRequest'
      responses:
        '200':
          description: SMS accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/Accounts/{sid}/Sms/Messages/{SmsSid}.json:
    parameters:
    - $ref: '#/components/parameters/AccountSid'
    - name: SmsSid
      in: path
      required: true
      description: The unique Sid of the SMS message.
      schema:
        type: string
    get:
      operationId: getSmsDetails
      tags:
      - SMS
      summary: Get SMS details
      description: Retrieves the delivery status and metadata of a sent SMS. MODELED path following Exotel's Twilio-style convention; verify against live docs.
      responses:
        '200':
          description: SMS details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Resource not found.
    TooManyRequests:
      description: Rate limit exceeded (Voice APIs are limited to ~200 calls/minute).
    Unauthorized:
      description: Missing or invalid API Key/Token.
  schemas:
    SmsResponse:
      type: object
      properties:
        Sid:
          type: string
        AccountSid:
          type: string
        Status:
          type: string
        From:
          type: string
        To:
          type: string
        Body:
          type: string
        DateCreated:
          type: string
        DetailedStatus:
          type: string
    SendSmsRequest:
      type: object
      required:
      - From
      - To
      - Body
      properties:
        From:
          type: string
          description: ExoPhone or approved Sender ID.
        To:
          type: string
          description: Recipient mobile number (E.164 preferred).
        Body:
          type: string
          description: Message content (up to 2000 characters).
        EncodingType:
          type: string
          enum:
          - plain
          - unicode
        SmsType:
          type: string
          enum:
          - transactional
          - transactional_opt_in
          - promotional
        Priority:
          type: string
          enum:
          - normal
          - high
        DltEntityId:
          type: string
          description: DLT entity/registration ID (mandatory for India).
        DltTemplateId:
          type: string
          description: DLT-approved template ID.
        StatusCallback:
          type: string
        CustomField:
          type: string
  parameters:
    AccountSid:
      name: sid
      in: path
      required: true
      description: Your Exotel account Sid (Account SID).
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Username = API Key, Password = API Token (both from Exotel Dashboard -> Settings -> API Settings). May also be embedded in the URL as https://<key>:<token>@<subdomain>/...
